{% extends "AppCoder/padre.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block titulo2 %}
    <h1 class="title-registro">Eliminar producto:</h1>
    <form action="" method= 'POST'> {% csrf_token %}
       
        Desea eliminar este producto ?

        <input type = "submit" value="Eliminar">

  

    
     
    {% endblock %}

    
</body>
</html>